#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.primary-button {
  background-color: rgba(7, 78, 232, 1);
  border: none;
  border-radius: 4px;
  width: 170px;
  height: 50px;
  color: white;
}

.secondary-button {
  background-color: rgba(7, 164, 232, 1);
  border: none;
  border-radius: 4px;
  width: 170px;
  height: 50px;
  color: white;
}

.component-style {
  width: 650px;
  height: 76px;
  border: none;
  border-radius: 10px;
  margin: 10px 0px;
  color: black;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 20px;
  gap: 10px;
}

.error-alert {
  background-color: rgba(249, 200, 200, 1);
}

.warning-alert {
  background-color: rgba(249, 217, 200, 1);
}

.info-alert {
  background-color: rgba(249, 235, 200, 1);
}

.success-alert {
  background-color: rgba(206, 247, 205, 1);
}
